[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/holger/perl/X3D/Components/make.pl
TryExec=
Icon=/usr/share/pixmaps/gnome-nettool.png
X-GNOME-DocPath=
Terminal=true
Name[de_DE]=makePM
GenericName[de_DE]=
Comment[de_DE]=
Name=makePM
GenericName=
Comment=
